# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment files
venv/
env/
env.bak/
.env

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore logs and temporary files
*.log
*.bak
*.swp
*.tmp
*.tmp.*
*.~*

# Ignore package build files
*.egg-info/
dist/
build/
